# dbt specific
nx_dbt/dbt_project/dbt_packages/*
nx_dbt/dbt_project/dbt_internal_packages/*
logs/
nx_dbt/dbt_project/target/*
# !nx_dbt/dbt_project/target/manifest.json
.user.yml
customers.yml
package-lock.yml


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
/target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
caches/
.idea/
temp.py
.ruff_cache

__pypackages__
# pdm < 2.5
.pdm.toml
# pdm >= 2.5
pdm.toml
.pdm-python
.pdm-build


# dagster persistence
dagster/.logs_queue
dagster/history
dagster/logs
dagster/storage

# mac temp
.DS_Store
scripts/.DS_Store

#vscode
.vscode/settings.json
dbt_project/dbt_internal_packages/dbt-adapters/dbt_project.yml
dbt_project/dbt_internal_packages/dbt-adapters/macros/adapters/apply_grants.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/adapters/columns.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/adapters/freshness.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/adapters/indexes.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/adapters/metadata.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/adapters/persist_docs.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/adapters/relation.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/adapters/schema.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/adapters/show.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/adapters/timestamps.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/adapters/validate_sql.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/etc/datetime.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/etc/statement.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/generic_test_sql/accepted_values.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/generic_test_sql/not_null.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/generic_test_sql/relationships.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/generic_test_sql/unique.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/get_custom_name/get_custom_alias.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/get_custom_name/get_custom_database.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/get_custom_name/get_custom_schema.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/internal/test/names.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/configs.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/hooks.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/models/materialized_view.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/models/table.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/models/view.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/models/clone/can_clone_table.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/models/clone/clone.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/models/clone/create_or_replace_clone.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/models/incremental/column_helpers.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/models/incremental/incremental.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/models/incremental/is_incremental.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/models/incremental/merge.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/models/incremental/on_schema_change.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/models/incremental/strategies.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/seeds/helpers.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/seeds/seed.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/snapshots/helpers.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/snapshots/snapshot_merge.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/snapshots/snapshot.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/snapshots/strategies.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/tests/helpers.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/tests/test.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/tests/unit.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/materializations/tests/where_subquery.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/python_model/python.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/create_backup.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/create_intermediate.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/create.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/drop_backup.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/drop.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/get_relations_by_pattern_sql.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/get_relations_by_pattern.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/get_table_types_sql.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/rename_intermediate.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/rename.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/replace.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/schema.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/column/columns_spec_ddl.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/materialized_view/alter.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/materialized_view/create.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/materialized_view/drop.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/materialized_view/refresh.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/materialized_view/rename.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/materialized_view/replace.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/table/create.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/table/drop.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/table/rename.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/table/replace.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/view/create.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/view/drop.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/view/rename.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/relations/view/replace.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/unit_test_sql/get_fixture_sql.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/any_value.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/array_append.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/array_concat.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/array_construct.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/bool_or.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/cast_bool_to_text.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/cast.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/concat.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/data_types.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/date_spine.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/date_trunc.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/date.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/dateadd.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/datediff.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/equals.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/escape_single_quotes.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/except.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/generate_series.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/hash.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/intersect.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/last_day.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/length.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/listagg.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/literal.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/position.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/replace.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/right.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/safe_cast.sql
dbt_project/dbt_internal_packages/dbt-adapters/macros/utils/split_part.sql
dbt_project/dbt_internal_packages/dbt-adapters/tests/generic/builtin.sql
dbt_project/dbt_internal_packages/dbt-snowflake/dbt_project.yml
dbt_project/dbt_internal_packages/dbt-snowflake/macros/adapters.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/apply_grants.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/catalog.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/metadata.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/materializations/clone.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/materializations/dynamic_table.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/materializations/incremental.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/materializations/seed.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/materializations/snapshot.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/materializations/table.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/materializations/test.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/materializations/view.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/materializations/incremental/insert_overwrite.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/materializations/incremental/merge.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/metadata/list_relations_without_caching.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/create_backup.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/create.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/drop.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/rename_intermediate.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/rename.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/replace.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/dynamic_table/alter.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/dynamic_table/create.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/dynamic_table/describe.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/dynamic_table/drop.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/dynamic_table/refresh.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/dynamic_table/replace.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/table/create.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/table/drop.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/table/rename.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/table/replace.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/view/create.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/view/drop.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/view/rename.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/relations/view/replace.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/utils/array_construct.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/utils/bool_or.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/utils/cast.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/utils/escape_single_quotes.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/utils/optional.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/utils/right.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/utils/safe_cast.sql
dbt_project/dbt_internal_packages/dbt-snowflake/macros/utils/timestamps.sql
